<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peacify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Peacify">
        <activity android:name=".Connect" />
        <activity android:name=".moodrecords" />
        <activity
            android:name=".meditate"
            android:label="@string/title_activity_meditate"
            android:theme="@style/Theme.Peacify.NoActionBar" />
        <activity android:name=".Moodtracer" />
        <activity android:name=".quotepage" />
        <activity android:name=".dashboard" />
        <activity android:name=".login" />
        <activity android:name=".Register" />
        <activity android:name=".login_register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>